this is view of test_action and other_controller.

<form action="/other/test_action" method="get">
	<label for="name">Name:</label>
	<input type="text" id="name" name="testvari">
	<div class="button">
	<button type="submit">
		Submit
	</button>
</form>	

<div>
	Your Name is : <%= @testvar %>
</div>