<form action="/accounts/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label for="name">Name :</label>
    <input type="text" id="name" name="holder_name">
    <br>
    <label for="address">Address :</label>
    <input type="textarea" id="name" name="address">
    <br>
    <label for="contact">Contact no :</label>
    <input type="text" id="name" name="mobile">
    <br>
    
  </div>

  <div class="button">
    <button type="submit">
      Submit
    </button>
  </div>

</form>